[submodule "weather-i2c/arduino/weather/libino"]
	path = weather-i2c/arduino/weather/libino
	url = https://github.com/Hackuarium/libino.git
[submodule "master-simple/arduino/masterSimple/libino"]
	path = master-simple/arduino/masterSimple/libino
	url = https://github.com/Hackuarium/libino.git
[submodule "scale-i2c/arduino/scale/libino"]
	path = scale-i2c/arduino/scale/libino
	url = https://github.com/Hackuarium/libino.git
